<h2 class="text-center">Films</h2>
   <div class="">
    <div class="film card medium-6 columns" ng-repeat="film in films | orderBy: 'episode_id'">
        <div class="medium-4 columns img-container">
            <img ng-src="images/films/{{film.episode_id}}.jpg" alt="{{film.title}}" />
        </div>
        <div class="medium-8 columns">
            <h4>{{film.title}}</h4>
            <p>Episode: {{film.episode_id}}</p>
            <a ng-href="#/films/{{film.id}}" class="button tiny right">View Film</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>