<div ng-show="finished">
    <h1>{{film.title}}</h1>
    <div class="medium-4 columns">
        <img ng-src="images/films/{{film.episode_id}}.jpg" alt="">
    </div>
    <div class="medium-8 columns">
        <p>{{film.opening_crawl}}</p>
        <p>Release Date: {{film.release_date}}</p>
        <p>Director: {{film.director}}</p>
        <p>Producer(s): {{film.producer}}</p>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="medium-6 columns">
        <div class="light-card">
            <h4>Characters</h4>
            <ul>
                <li class="list" ng-repeat="character in characters"><a ng-href="#/people/{{character.id}}">{{character.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="medium-6 columns">
        <div class="light-card">
            <h4>Planets</h4>
            <ul>
                <li class="list" ng-repeat="planet in planets"><a ng-href="#/planets/{{planet.id}}">{{planet.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>