<div class="text-center">
 <img src="images/logo.png" alt="Star Wars Logo" title="Star Wars">
  <h1>Database</h1>
  <h4 class="lead">
    <img src="images/death-star.png" alt="I'm Yeoman"><br>
    "A long time ago in a galaxy far, far away...."
  </h4>
</div>

<div class="characters">
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character bobo"></div>
  </div>
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character darth"></div>
  </div>
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character storm"></div>
  </div>
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character chewie"></div>
  </div>
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character leia"></div>
  </div>
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character luke"></div>
  </div>
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character c3po"></div>
  </div>
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character r2d2"></div>
  </div>
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character han"></div>
  </div>
  <div class="small-12 medium-4 large-3 columns">
      <div class="cartoon-character obwan"></div>
  </div>
</div>
<audio src="sounds/imp.mp3" type="audio/mp3" autoplay></audio>