<div ng-show="finished">
    <h2>{{person.name}}</h2>
    <div class="medium-4 columns">
        <img ng-src="images/people/{{person.id}}.jpg" alt="{{person.name}} Image" class="full th" />
    </div>
    <div class="medium-8 columns">
        <p>Gender: {{person.gender}}</p>
        <p>Height (cm): {{person.height}}
        </p>
        <p>Weight (kg): {{person.mass}}
        </p>
        <p>Species: <a ng-href="#/species/{{spec.id}}">{{spec.name}}</a>
        </p>
        <p>Skin Colour: {{person.skin_color}}</p>
        <p>Eye Colour: {{person.eye_color}}</p>
        <p>Year of Birth: {{person.birth_year}}</p>
    </div>
    <div class="clearfix"></div>
    <div class="medium-6 columns" ng-show="films.length > 0">
        <light-card data="films" category="Films" url="films"></light-card>
    </div>
    <div class="medium-6 columns">
        <div ng-show="starships.length > 0">
            <div class="light-card">
                <h4>Starships</h4>
                <ul>
                    <li class="list" ng-repeat="starship in starships"><a ng-href="#/starships/{{starship.id}}">{{starship.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-show="vehicles.length > 0">
            <div class="light-card">
                <h4>Vehicles</h4>
                <ul>
                    <li class="list" ng-repeat="vehicle in vehicles"><a ng-href="#/vehicles/{{vehicle.id}}">{{vehicle.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>