<h2 class="text-center">Species</h2>
 <div class="progress radius round fade" ng-show="progress < 100">
  <span class="meter" style="width: {{progress}}%"></span>
</div>
 <div ng-show="progress == 100">
   <input type="text" placeholder="Search Species" ng-model="search.name" />
    <div class="medium-6 columns"  ng-repeat="spec in species | filter : search">
      <div class="species card">
           <div class="small-6 medium-4 columns">
               <img class="th" ng-src="images/people/thumbnails/{{spec.imageId}}.jpg" alt="{{spec.name}}">
           </div>
           <div class="small-6 medium-8 columns">
                <h4 ng-model="spec.name">{{spec.name}}</h4>
                <p>Classification: {{spec.classification}}</p>
                <a href="#/species/{{spec.id}}" class="button tiny">View {{spec.name}}</a>
           </div>
            <div class="clearfix"></div>
       </div>
    </div>
</div>
