<h2 class="text-center">Starships</h2>
 <div class="progress radius round fade" ng-show="progress < 100">
  <span class="meter" style="width: {{progress}}%"></span>
</div>
<div class="fade" ng-show="progress === 100">
   <input type="text" placeholder="Search Starships" ng-model="search.name" >
    <div class="medium-6 columns"  ng-repeat="starship in starships | filter:search">
      <div class="starships card">
           <div class="small-6 medium-4 columns">
               <img class="th" ng-src="images/starships/thumbnails/{{starship.id}}.jpg" alt="{{starship.name}}">
           </div>
           <div class="small-6 medium-8 columns">
                <h4>{{starship.name}}</h4>
                <a href="#/starships/{{starship.id}}" class="button tiny">View {{starship.name}}</a>
           </div>
            <div class="clearfix"></div>
       </div>
    </div>
</div>
